<html>
<tbody>
  <img src="https://ci5.googleusercontent.com/proxy/A-quKChfId5qpYvXm_zcW-GEnolJEGQ4PeGkq50pBYmi5QHH-uoN22ysfGajMcE2lKvhMLJTemZwYYnh3MbzlR1IHzu6sZHu5VNS0pjR455lwdKxhgI8Og=s0-d-e1-ft#http://app2.dopplerfiles.net/Users/3778/Campaigns/8930766/logo.png" alt="Garbarino - Pensamos en vos" border="0" width="100%" style="display:block;margin:0 auto;border:0;max-width:300px;min-height:auto;outline:0" class="CToWUd"></a></td></tr>
  <tr>
    <td align="left" style="font-size:10px;border-bottom:1px solid #e5e5e5">&nbsp;</td>
  </tr>
</tbody>
<tr>
  <td height="1" align="center" bgcolor="#ffffff" style="font-size:1px"><img src="https://ci4.googleusercontent.com/proxy/mX95orir-khAa9968ZvaEUFjay-YQnjjfRzI5YJXNG30xvJECdmEqqDPUE4KChEE5CsA-0xr-URW-1rIGpQFhhTosSDZj4LQ_ktxrrYjsrJXrntn8L8oOIU=s0-d-e1-ft#http://app2.dopplerfiles.net/Users/3778/Campaigns/8930766/520x1.png" width="100%" height="1" alt="" style="display:block" border="0" class="CToWUd"></td>
</tr>
      <div class='container'>
        <br>
        <div class='well'>
          <h3 style='color:Black; font-size: 12px;'><b>Result for:</b>'<%= task_name %>' execution </h3>
          <h6 style='color:Black; font-size: 12px;'><b>Result ID:</b>'<%= id %>'</h6>
          <h6 style='color:Black; font-size: 12px;'><b>Status:</b>'<%= status %>'</h6>
          <h6 style='color:Black; font-size: 12px;'><b>Duration:</b>'<%= time %>' seconds</h6>
          <h6 style='color:Black; font-size: 12px;'><b>Summary:</b>'<%= info %>'
          <br>
          <br>
          <h3 style='color:Grey; font-size: 13px;'><b>The execution output is attached</b></h3>
          <h6>&nbsp;</h6>
        </div>
<tr>
     <td class="legacy-container-width" height="100" valign="top" align="left" bgcolor="#FFFFFF">           
         <table width="580" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" class="legacy-container legacy-container-width">
             <tr>
                 <td width="0%" height="100" valign="top" align="left" bgcolor="#FFFFFF"></td>
                 <td width="100%" height="100" valign="top" align="left" bgcolor="#FFFFFF">
                     <!-- Beggin Legacy Content -->
                     <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF">
                         <tr><td width="100%" height="10" valign="top"></td></tr>
                         <tr>
                             <td width="100%" valign="top" bgcolor="#FFFFFF" style="font-family: sans-serif; font-size: 15px; line-height: 16px; color: #d22222; text-align: center;">
                                 This email is sent automatically. Please, do not reply
                             </td>
                         </tr>
                         <tr><td width="100%" height="10" valign="top"></td></tr>
                     </table>
                     <!-- End Legacy Content -->
                 </td>
                 <td width="0%" height="100" valign="top" align="left" bgcolor="#FFFFFF"></td>
             </tr>
         </table>
     </td>
 </tr>
 <!-- End Legacy -->
</html>